body {
    background-color: #E6F4F6;
} 

div.topnavbar {
    text-align: center;
}

.topnavbar a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
.topnavbar a:link {
    color: darkblue;
}

.topnavbar a:visited {
    color: darkblue;
}

.topnavbar a:hover {
    color: gray;
}

.topnavbar a:active {
    color: maroon;
}

.header1 {
    font-family: Papyrus;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}

p.intro {
  font-family: Garamond;
  text-align: center;
  font-size: larger;
  height: auto;
  width: 400px;
  padding: 10px;
  background-color: azure;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}


img.japan {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto; 
    max-width: 500px; 
    border-radius: 50px 10px;
    border: solid black 5px;
    padding: 10px;
}

