body {
    background-color: #E6F4F6;
} 


div.topnavbar {
    text-align: center;
    display: grid;
    grid-template-columns: 5fr 5fr 5fr 5fr;
    align-items: center;
    width: 750px;
    margin: auto;
  
  }
  
  .topnavbar a {
    padding: 1rem;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  
.topnavbar a:link {
    color: darkblue;
}

.topnavbar a:visited {
    color: darkblue;
}

.topnavbar a:hover {
    color: gray;
}

.topnavbar a:active {
    color: maroon;
}

.header1 {
    font-family: Papyrus;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}



p.intro {
  font-family: Garamond;
  text-align: center;
  font-size: 1.5em;
  height: auto;
  width: 500px;
  padding: 10px;
  background-color: azure;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}


p.basic {
    text-indent: 25px;
    text-align:justify;
    font-family: Garamond;
    font-size: 1.25em;
    padding-left: 150px;
    padding-right: 150px;
}

p.projectsMERN {
  font-family: Garamond;
  text-align: left;
  font-size: 1.75em;
  height: auto;
  width: max-content 900px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

ol.assignments {
    font-family: Garamond;
    text-align: left;
    font-size: 1.25em;
    height: auto;
    width: max-content 900px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    padding-bottom: 30px;
    margin-left: 75px;
    margin-right: auto;
    margin-bottom: 30px;
}

img.japan {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto; 
    max-width: 500px; 
    border-radius: 50px 10px;
    border: solid black 5px;
    padding: 10px;
}

footer {
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto;
}