/* Color of Entire Page - CP onto other pages to make it match the theme */
body {
    background-color: #E6F4F6;
} 

/* Page Header - CP onto other pages */
.header1 {
    font-family: Papyrus;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}

/* Navigation Bar at Top of Page - CP onto other pages */
div.topnavbar {
    text-align: center;
    display: grid;
    grid-template-columns: 5fr 5fr;
    align-items: center;
    width: 500px;
    margin: auto;
  }
  
  .topnavbar a {
    padding: 1rem;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  
.topnavbar a:link {
    color: darkblue;
}

.topnavbar a:visited {
    color: darkblue;
}

.topnavbar a:hover {
    color: gray;
}

.topnavbar a:active {
    color: maroon;
}

/* Home Page Intro */
p.intro {
  font-family: Garamond;
  text-align: center;
  font-size: 1.5em;
  height: auto;
  width: 500px;
  padding: 10px;
  background-color: azure;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}

/* Basic h3 Header & Paragraph Formatting */
.subheader {
    font-family: Papyrus;
    text-align: center;
    padding-top: 2em;
}

p.basic {
    text-indent: 25px;
    text-align:justify;
    font-family: Garamond;
    font-size: 1.25em;
    padding-left: 150px;
    padding-right: 150px;
}

/* Bio & Contact Info Formatting */
.navnav-tabs {
    padding-left: 150px;
    padding-right: 150px;
}


/* Projects Page Formatting */
p.projectsMERN {
  font-family: Garamond;
  text-align: left;
  font-size: 1.75em;
  height: auto;
  width: max-content 900px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

/* Japan Image on Home Page */
img.japan {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto; 
    max-width: 500px; 
    border-radius: 50px 10px;
    border: solid black 5px;
    padding: 10px;
}


/* Projects Page Card Formatting */
.card-deck {
    display: flex;
    margin: 10px;
}

.card {
    width: 33%;
    border: solid black 2px;
    padding: 10px;
    margin: 15px;
}

img.card-img-top {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}
 /* Card Text */
.card-title {
    text-align: center;
    font-family: Papyrus;
    font-size: 1.25em;
}
.card-body {
    text-align: justify;
    hyphens: auto;
    font-family: Garamond;
}

.card-footer {
    text-align: center;
    font-family: Garamond;
}


/* Page Footer - CP onto other pages */
footer {
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto;
}